{% load static_files %}
    
<!-- build:js assets/vendor/js/core.js -->
<script src="{% sneat_assets "vendor/libs/jquery/jquery.js" %}"></script>
<script src="{% sneat_assets "vendor/libs/popper/popper.js" %}"></script>
<script src="{% sneat_assets "vendor/js/bootstrap.js" %}"></script>
<script src="{% sneat_assets "vendor/libs/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
<script src="{% sneat_assets "vendor/js/menu.js" %}"></script>     <!-- endbuild -->
<script src="{% sneat_assets "js/main.js" %}"></script> <!-- Main JS -->

<!-- Page JS -->
<script src="{% sneat_assets "js/pages-account-settings-account.js" %}"></script>
<script src="{% sneat_assets "js/dashboards-analytics.js" %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>