html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.paper-awb {
  width: 533px;
  height: 850px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.paper-awb .header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 3px solid grey;
}
.paper-awb .header img {
  width: 13rem;
  height: auto;
}
.paper-awb .header p {
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.paper-awb .content {
  height: calc(100% - 110px);
  align-items: center;
  flex-direction: column;
}
.paper-awb .content .paper-awb .content .section-barcode .section-sending-date .section-information .customer-service .notes {
  height: 100%;
}
.paper-awb .content .section-barcode {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid grey;
}
.paper-awb .content .section-barcode .barcode-courier {
  padding-right: 60px;
}
.paper-awb .content .section-barcode .barcode-order {
  padding-right: 20px;
}
.paper-awb .content .section-barcode .info {
  font-size: 13px;
  line-height: 200%;
}
.paper-awb .content .section-barcode .order-number {
  padding-left: 10px;
  padding-bottom: -30px;
  font-size: 13px;
  line-height: 200%;
}
.paper-awb .content .section-barcode .order-number .bold {
  font-weight: bold;
}
.paper-awb .content .section-barcode .shipping-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paper-awb .content .section-barcode .shipping-logo img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}
.paper-awb .content .section-barcode .shipping-logo .shipping-code {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.paper-awb .content .section-sending-date {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 2px solid grey;
}
.paper-awb .content .section-information {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 2px solid grey;
}
.paper-awb .content .section-information .address-info {
  font-size: 16px;
  padding-bottom: 30px;
}
.paper-awb .content .section-information .address-info .title {
  margin-bottom: 5px;
}
.paper-awb .content .section-information .address-info .title .sender-name {
  font-weight: bold;
}
.paper-awb .content .section-information .address-info .address {
  font-weight: 400;
  line-height: 160%;
}
.paper-awb .content .section-information .address-info .telephone {
  font-weight: 400;
  margin-top: 5px;
}
.paper-awb .content .section-information .address-info .info {
  font-weight: 400;
  margin-bottom: 5px;
}
.paper-awb .content .section-information .address-info .info:last-child {
  margin-bottom: 0;
}
.paper-awb .content .customer-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid grey;
}
.paper-awb .content .customer-service .title {
  font-weight: bold;
  margin-bottom: 5px;
}
.paper-awb .content .customer-service .info {
  font-weight: 400;
  margin-top: 5px;
}
.paper-awb .content .notes {
  font-size: 13px;
  align-items: center;
  font-weight: 400;
  line-height: 160%;
  padding: 10px 20px;
}
.paper-awb .content .notes .title {
  font-weight: bold;
}

@media print {
  @page {
    size: 533px 850px;
    margin: 0;
  }
  html {
    width: 533px;
    height: 850px;
  }
  body {
    width: 533px;
    height: 850px;
  }
}

/*# sourceMappingURL=label-awb.css.map */
