
<div class="form-group mb-4" id="id-form-{{field.name}}">
    <div class="{% if field.field.widget.attrs.count_char %} d-flex justify-content-between {% endif %}">
        <label class="{% if field.is_hidden or field.widget_type == 'checkbox' %}d-none{% endif %}">
            {{field.label}} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
        </label>
        {% if field.field.widget.attrs.count_char %}
            <label id="count_char_{{field.name}}">{{field.value|length}}/{{field.field.max_length}}</label>
        {% endif %}
    </div>
    {% if field.widget_type == 'selectmultiple' %}
        {% if field.field.widget.attrs.readonly %}
            <select class="choices select-multiple choices-disabled" multiple="multiple" id="{{field.id}}" name="{{field.name}}">
                {% for set in field.field.queryset %}
                    <option value="{{set.id}}" {% if set.id in field.field.initial %}selected{% else %}disabled{% endif %}>{{set}}</option>
                {% endfor %}
            </select>
        {% else %}
            <select class="choices form-select choices-select" multiple="multiple" name="{{field.name}}">
                {% for set in field.field.queryset %}
                    {% if field.value %}
                        <option value="{{set.id}}" {% for value in field.value %}{% if set.id == value|add:"0" %}selected{% endif %}{% endfor %}>{{set}}</option>
                    {% else %}
                        <option value="{{set.id}}">{{set}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
    {% elif field.widget_type == 'radioselect' %}
        <div class="position-relative">
            {% for set in field.field.choices %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{field.name}}" value="{{set.0}}" {% if set.0 == field.value %}checked{% endif %}>
                    <label class="form-check-label">{{set.1}}</label>
                </div>
            {% endfor %}
        </div>
    {% elif field.widget_type == 'select' %}
            {% if field.field.widget.attrs.readonly %}
                <select name="{{field.name}}" class="form-select select-search choices-disabled" id="id-{{field.name}}" placeholder="Search Here">
                    {% for set in field.field.choices %}
                        <option value="{{set.0}}" {% if set.0|stringformat:"s" == field.value|stringformat:"s" %}selected{% endif %}>{{set.1}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <select name="{{field.name}}" class="form-select select-search" id="id-{{field.name}}" placeholder="Search Here">
                    {% for set in field.field.choices %}
                        <option value="{{set.0}}" {% if set.0|stringformat:"s" == field.value|stringformat:"s" %}selected{% endif %}>{{set.1}}</option>
                    {% endfor %}
                </select>
            {% endif %}
    {% elif field.widget_type == 'checkbox' %}
        {% if field.field.widget.attrs.form_switch %}
            <div class="form-check form-switch">
                <input class="form-check-input" 
                        type="checkbox" 
                        name="{{field.name}}" 
                        role="switch"
                        id="id-{{field.name}}"
                        {% if field.value %}checked=checked {% endif %}
                        {% if field.field.widget.attrs.readonly %}disabled="disabled"{% endif %}>
                <label>{{field.label}}</label>
            </div>
        {% else %}
            <div class="form-check">
                <input name="{{field.name}}" class="form-check-input" type="checkbox" id="flexCheckDefault"
                id="id-{{field.name}}"
                {% if field.value %}checked=checked {% endif %} {% if field.field.widget.attrs.readonly %}disabled="disabled"{% endif %}>
                <label>{{field.label}}</label>
            </div>
        {% endif %}

    {% elif field.widget_type == 'textarea' %}
        <textarea name="{{field.name}}" id="id-{{field.name}}" class="form-control  {% if field.errors %}is-invalid{% endif %}"
            value="{% if field.value is not null %}{{field.value}}{% endif %}"
            {% if field.field.required %}required{% endif %}
            rows="{{field.field.widget.attrs.rows}}"
        >{% if field.value is not null %}{{field.value}}{% endif %}</textarea>
    {% else %}
        <input
            {% if field.widget_type == 'clearablefile' %}
                type="file"
                class="form-control form-control-file {% if field.errors %}is-invalid{% endif %}"
                id="id-{{field.name}}"
            {% else %}
                type="{{field.widget_type}}"
                class="form-control {% if field.errors %}is-invalid{% endif %}"
            {% endif %}

            name="{{field.name}}"

            {% if field.widget_type == 'number' %}
                step="any"
            {% endif %}

            {% if field.field.widget.attrs.id is not null %}
                id="{{ field.field.widget.attrs.id }}"
            {% else %}
                id="id-{{field.name}}"
            {% endif %}

            value="{% if field.value is not null or field.value|length > 0 %}{{field.value}}{% endif %}"
            {% if field.field.required %}required{% endif %}
            {% if field.field.widget.attrs.readonly %}readonly{% endif %}
            
        >
        {% if field.help_text %}
            <span class="helptext">{{field.help_text}}</span>
        {% else %}
            <span class="helptext text-danger" style="display:none" id="id-{{field.name}}_help_text"></span>
        {% endif %}
    {% endif %}
    
    <!-- <div class="invalid-feedback d-block" id="limit_length-{{field.name}}">
        {% if field.errors %}
            <i class="bx bx-radio-circle"></i>
            {{field.errors}}
        {% endif %}
    </div> -->
</div>
